<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} About us {% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <style>
        body {font-family: "Times New Roman", Georgia, Serif;}
        h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
        }
        
        body::-webkit-scrollbar {
            display: none;
        }

    </style>
</head>
<body>
  {% block content %}
    <!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="http://127.0.0.1:5000/" class="w3-bar-item w3-button"><b>About</b> The Care</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
          <a href="http://127.0.0.1:5000/about" class="w3-bar-item w3-button">About</a>
          <a href="http://127.0.0.1:5000/signin" class="w3-bar-item w3-button">SignIn</a>
        <a href="http://127.0.0.1:5000/#contact" class="w3-bar-item w3-button">Contact</a>
  
        <a href="" class="w3-bar-item w3-buttin"><i class="fa fa-twitter"></i></a>
        <a href="" class="w3-bar-item w3-buttin"><i class="fa fa-instagram"></i></a>
        <a href="" class="w3-bar-item w3-buttin"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  
  

    <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://media.istockphoto.com/photos/shot-of-a-young-businesswoman-working-in-call-center-picture-id1323476855?b=1&k=20&m=1323476855&s=170667a&w=0&h=DTRLdCtyH6Nfvj6pzKPXvnbWT5_auAuVZ8-eZlpW9Ns=" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Who are we?</h1><br>
      <h5 class="w3-center">An all-in-one customer support solution</h5>
      <p class="w3-large">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas cumque ipsum quasi fuga odit modi saepe maxime ea exercitationem ducimus, eaque facere omnis nam eum labore quia sunt, reiciendis doloribus! 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, fugit libero aspernatur facilis temporibus commodi. Et molestias saepe eveniet quod accusamus aliquid molestiae inventore quas? Distinctio corrupti beatae aspernatur est.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ducimus quidem nihil, odit, et fugit quibusdam, dolores cupiditate provident iusto labore dolorum dicta inventore natus voluptates? Consequuntur reprehenderit temporibus aliquid!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, tempore porro ad sint ratione accusantium totam tenetur sequi magnam magni neque in quisquam quia atque asperiores libero molestias, quis hic.
      </p>
      
    </div>
  </div>
  
  <hr>
  {% endblock %}

</body>
</html>