<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} About us {% endblock %}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    
    <style>
        body {font-family: "Times New Roman", Georgia, Serif;}
        h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display";
        letter-spacing: 5px;
        }
        
        body::-webkit-scrollbar {
            display: none;
        }

    </style>
</head>
<body>
  {% block content %}
    <section class="header">
        <nav>
            
            <div class="nav-links" id="navLinks">
                <i class="fa fa-remove" aria-hidden="true" onclick="hideMenu()"></i>
                  </a>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">SignIn</a></li>
                    <li><a href="">About</a></li>
                    
                </ul>
            </div>
            <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
        </nav>
        
    </section>

    <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://images.pexels.com/photos/3194519/pexels-photo-3194519.jpeg?cs=srgb&dl=pexels-canva-studio-3194519.jpg&fm=jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Who are we?</h1><br>
      <h5 class="w3-center">An all-in-one customer support solution</h5>
      <p class="w3-large" style="color: #000;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas cumque ipsum quasi fuga odit modi saepe maxime ea exercitationem ducimus, eaque facere omnis nam eum labore quia sunt, reiciendis doloribus! 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, fugit libero aspernatur facilis temporibus commodi. Et molestias saepe eveniet quod accusamus aliquid molestiae inventore quas? Distinctio corrupti beatae aspernatur est.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ducimus quidem nihil, odit, et fugit quibusdam, dolores cupiditate provident iusto labore dolorum dicta inventore natus voluptates? Consequuntur reprehenderit temporibus aliquid!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, tempore porro ad sint ratione accusantium totam tenetur sequi magnam magni neque in quisquam quia atque asperiores libero molestias, quis hic.
      </p>
      <p class="w3-large" style="color: #000;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas cumque ipsum quasi fuga odit modi saepe maxime ea exercitationem ducimus, eaque facere omnis nam eum labore quia sunt, reiciendis doloribus! 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, fugit libero aspernatur facilis temporibus commodi. Et molestias saepe eveniet quod accusamus aliquid molestiae inventore quas? Distinctio corrupti beatae aspernatur est.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ducimus quidem nihil, odit, et fugit quibusdam, dolores cupiditate provident iusto labore dolorum dicta inventore natus voluptates? Consequuntur reprehenderit temporibus aliquid!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, tempore porro ad sint ratione accusantium totam tenetur sequi magnam magni neque in quisquam quia atque asperiores libero molestias, quis hic.
      </p>
      <p class="w3-large" style="color: #000;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas cumque ipsum quasi fuga odit modi saepe maxime ea exercitationem ducimus, eaque facere omnis nam eum labore quia sunt, reiciendis doloribus! 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, fugit libero aspernatur facilis temporibus commodi. Et molestias saepe eveniet quod accusamus aliquid molestiae inventore quas? Distinctio corrupti beatae aspernatur est.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ducimus quidem nihil, odit, et fugit quibusdam, dolores cupiditate provident iusto labore dolorum dicta inventore natus voluptates? Consequuntur reprehenderit temporibus aliquid!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, tempore porro ad sint ratione accusantium totam tenetur sequi magnam magni neque in quisquam quia atque asperiores libero molestias, quis hic.
      </p>
    </div>
  </div>
  
  <hr>
  {% endblock %}

</body>
</html>