<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home page {% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Libre+Franklin:wght@500&family=Noto+Serif+Display&display=swap" rel="stylesheet">

    <style>
        .header{
    min-height: 100vh;
    width: 100%;
    background-image: url(https://media.istockphoto.com/photos/shot-of-a-businessman-using-a-computer-while-working-in-a-call-center-picture-id1331493599?b=1&k=20&m=1331493599&s=170667a&w=0&h=IHNyiSNrCtfcVyLAOTT2Nc8HFTdKEs8N5ZgV0Uoob5M=);
    background-position: center;
    background-size: cover;
    position: relative;
}

    </style>

</head>
<body>
    {% block content %}
    <section class="header">
        <nav>
            
            <div class="nav-links" id="navLinks">
                <i class="fa fa-remove" aria-hidden="true" onclick="hideMenu()"></i>
                  </a>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">SignIn</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="#contact-us">Contact</a></li>
                    
                </ul>
            </div>
            <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
        </nav>
        <div class="text-box">
            <h2>Customer care</h2>
            <p>We're here to help</p>
        </div>
    </section>

    
    <!-- Contact section -->
    <section class="location" id="Contact-us">
        <h1>CONTACT US</h1>
        
    </section>
    <section class="contact-us">
        <div class="row">
            <div class="contact-col">
                <div>
                    <i class="fa fa-home"></i>
                    <span>
                        <h5>Chennai</h5>
                        <p>Tamilnadu</p>
                    </span>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <span>
                        <h5>+11 982734487</h5>
                        
                    </span>
                </div>
                <div>
                    <i class="fa fa-envelope-o"></i>
                    <span>
                        <h5>customercare@gmail.com</h5>
                        <p>Mail us!</p>
                    </span>
                </div>
            </div>
            <div class="contact-col">
                <form onsubmit="sendEmail(); reset();">
                    <input type="text" id="name" placeholder="Enter Your Name" required>
                    <input type="email" id="email" placeholder="Enter Your Email" required>
                    <input type="text" id="subject" placeholder="Enter Your Major" required>
                    <textarea rows="8" id="message" placeholder="Message" required></textarea>
                    <button type="submit" class="btn red-btn" id="btn" >Send Message</button>
                </form>
            </div>
        </div>
    </section>

    
    <!-- Footer -->
    <section class="footer">
        <div class="icons">
            
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            
        </div>
        <p style="color: rgb(0, 0, 0);">Follow us for more updates</p>
    </section>

    
    {% endblock %}
    
</body>
</html>

