<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} SignIn page {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Libre+Franklin:wght@500&family=Noto+Serif+Display&display=swap" rel="stylesheet">
    
</head>
  <body style="background-color: black;">
    {% block content %}
      <section class="header">
        <nav>
            
            <div class="nav-links" id="navLinks">
                <i class="fa fa-remove" aria-hidden="true" onclick="hideMenu()"></i>
                  </a>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">SignIn</a></li>
                    <li><a href="">About</a></li>
                    
                </ul>
            </div>
            <i class="fa fa-bars" aria-hidden="true" onclick="showMenu()"></i>
        </nav>
        
    
  </section>
    <section>
      <div class="center">
        <h1>SignIn</h1>
        <form action="NewServlet1" method="Post">
          <div class="txt_field">
            <input type="text" required name="username">
            <span></span>
            <label>Username</label>
          </div>
          <div class="txt_field">
            <input type="password" name="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <div class="pass">Forgot Password?</div>
          <input type="submit" name="submit" value="Login">
          <div class="signup_link">
            Not a member? <a href="">Signup</a>
          </div>
        </form>
      </div>
    </section>
    {% endblock %}
</body>
</html>

